{% extends 'base.html.twig' %}

{% block title %}Créer une Planification{% endblock %}

{% block body %}
    <h1>Créer une Planification</h1>
    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.start_datum) }}
            {{ form_widget(form.start_datum, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.start_datum) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.end_date) }}
            {{ form_widget(form.end_date, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.end_date) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.status) }}
            {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.status) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.employee) }}
            {{ form_widget(form.employee, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.employee) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.departement) }}
            {{ form_widget(form.departement, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.departement) }}
        </div>
        <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(form) }}
{% endblock %}
